*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
}

body{
    background-image: url('../assets/backgrounds/background.jpeg');
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

section{
    background-color: rgba(229, 229, 249, 0.9);
    margin-bottom: 2vh;
    padding: 2rem;
}

article{
    text-align: justify;
}

article p:first-child{
    margin-top: 2vh;
}

article p:last-child {
    margin-bottom: 0;
}

button{
    width: 50%;
}

textarea{
    width: 100%;
}

header{
    background-color: #553636;
    padding: 0 1vw;
    border-radius: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    z-index: 1;
}

nav{
    width: 87%;
}

footer{
    background-color: #553636;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

footer h2, footer h3, footer h4{
    background-color: transparent;
}

main{
    max-width:1200px;
    margin: auto;
    margin-top: 8vh;
}

ul>li{
    display: flex;
    align-items: center;
}

i{
    font-size: 1rem;
}

ul>li>a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 6px blue;
    text-align: center;
}

ul>li>a:hover{
    cursor: pointer;
    text-decoration: underline 3px rgba(161, 161, 249,0.7);
}

p,strong {
    line-height: 1.5;
    font-size: 1rem;
}



h1,h2,h3,h4{
    border-radius: 3px;
}

h2,h3,h4,p{
    padding: 0 .5rem;
}

h1{
    background-color: black;
}
h2{
    font-size: 2rem;
    background-color: rgb(63 69 63);
}

h3{
    font-size: 1.75rem;
    background-color:#007bff;
    text-align: center;
}

h4{
    font-size: 1rem;
    background-color: rgb(21, 215, 170);
}

p{
    margin-bottom: 1rem;
}



img{
    width: 100%;
    display: block;
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#inicio{
    background-image:url('../assets/banners/banner_1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-color: transparent;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#destacados > article{
    border: 2px solid #aaa4a4;
    margin: 2vh 0;
    padding: 1rem;
}

.border-radius{
    border-radius: 5px;
}





#sixSeasonsAndAMovie>p{
    margin-bottom: 0;
}

.character-article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #aaa4a4;
    border-radius: 10px;
    margin: 2vh 0;
}

.character-description{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vh 0;
}

.character-image{
    width: 35%;
    padding: 2vh 0;
    border-radius: 5%;
}


.episode-article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.episode-description{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.episode-image{
    width: 45%;
}

.row-reverse{
    flex-direction: row-reverse;
}


#clips > *{
    width: 100%;
}

.clips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clips-container > article{
    width:80%;
    border: 2px solid #aaa4a4;
    margin: 2vh 0;

}

.containerPhotos{
    width: 90%;
    margin: 0 auto;
}


.video-container {
    flex: 1 1 50%; 
    position: relative;
    padding-top: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#introduccion{
    display: flex;
    width: 100%;
    flex-direction: column; 
}

#historia{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#historia > * {
    width: 100%;
}

#inicio, #introduccion, #historia, #personajes, #destacados, #clips, #contacto{
    scroll-margin-top: calc(8vh + 1rem);
}

#contacto{
    background-image: url('../assets/form/background-logo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#personajes>article>div>h4{
    width: 100%;
    text-align: center;
    margin: 1vh 0;
}

#destacados>article>div>h4{
    text-align: center;
}


#clips>h3, .clips-container>article>p{
    background-color: transparent;
    font-size: 1.2rem;
    margin: 3vh 0;
}


.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin:0 2vw;
    padding: 2vw 0;
}



#logoCommunity{
    width: 200px;
}


.mobile-menu,.containerMobileMenu{
    display: none;
}



#contactPhoto{
    width: 250px;
    margin: 2vh 0;
    object-fit: cover;
    border-radius: 16% 70% / 50% 67%;
}



.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
}

.text-stroke{
    -webkit-text-stroke: 1px rgb(88, 159, 218);
    -webkit-text-fill-color: white;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-center{
    text-align: center;
}

.newsletter-form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.newsletter-form h3 {
    text-align: center;
    color: white;
}

.newsletter-form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.newsletter-form input[type="text"],
.newsletter-form input[type="tel"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter-form button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-form button:hover {
    background-color: #004494;
}

@media (max-width:320px){

    #introduccion{
        background-image: none;
    }

    section{
        padding: 1rem;
    }

    h2{
        font-size: 1.2rem !important;
    }
    #sixSeasonsAndAMovie>p>strong>i{
        font-size: .8rem;
    }

    #inicio{
        padding: 2rem;
    }

    .episode-article{
        display: flex;
        flex-direction: column;
        min-height: 900px;
    }

    .episode-description {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

@media (min-width:321px) and (max-width:375px){

    #inicio{
        padding: 2rem;
    }

    #introduccion{
        background-image: none;
    }
    #sixSeasonsAndAMovie>p>strong>i{
        font-size: .8rem;
    }
    section{
        padding: 1rem;
    }

    h2{
        font-size: 1.3rem !important;
    }

    .episode-article{
        display: flex;
        flex-direction: column;
        min-height: 800px;
    }

    .episode-description {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (min-width:376px) and (max-width:425px){

    #inicio{
        padding: 2rem;
    }

    #introduccion{
        background-image: none;
    }
    section{
        padding: 1rem;
    }
    h2{
        font-size: 1.4rem !important;
    }

    .episode-article{
        display: flex;
        flex-direction: column;
        min-height: 700px;
    }
    .episode-description {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width:767px){

    label{
        font-size: 1rem;
    }

    input::placeholder{
        font-size: .9rem;
    }

    textarea::placeholder{
        font-size: .9rem;

    }

    #introduccion{
        background-image: none;
    }

    #introduccion>h2{
        width:100%
    }

    #introduccion>article{
        width: 100%;
    }

    #personajes>article>div>h4 {
        width: auto;
    }

    .episode-article{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
    
    .episode-description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    
    .episode-image{
        width: 100%;
    }

    .character-article{
        flex-direction: column;
        max-height: none;
    }

    .character-image{
        width: 90%;
        border-radius: 10%;
    }

    .character-description{
        width: 95%;
        flex-direction: column;
        text-align: center;
    }


    main,footer{
        padding: 0 4vw;
    }

    footer{
        flex-direction: column;
    }

    #contactPhoto{
        margin: 0 auto;
        border-radius: 50%;

    }


    main{
        margin-top: 0;
    }

    header{
        position: relative;
    }

    section{
        overflow: hidden;
        overflow-wrap: break-word;
    }

    p, span,strong{
        font-size: 0.8rem;
    }

    .desktop-menu{
        display: none;
    }

    .containerMobileMenu{
        display: flex;
        justify-content: center;

        margin-bottom: 2vh;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        position: relative;
        margin: 1vh 3vw;
        opacity: 1;
    }

    ul > li {
        display: inline-block;
        margin-bottom: 10px;
    }

    ul > li a {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: white;
        text-shadow:none;
        font-size: 0.6rem;
    }

    h1{
        font-size: 0;
    }

    h2{
        font-size: 1.5rem;
        text-align: center;
    }


    h3{
        font-size: 1.1rem;
        text-align: center;

    }

    
    h4{
        font-size: .9rem;
        text-align: center;

    }

    #inicio{
        background-image: url(../assets/banners/banner_2.jpg);
        background-size: contain;
        background-position: top, center;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logoCommunity{
        margin: 0 auto;
        width: 40%;
    }

    nav{
        width: 0;
    }

    .datos>p{
        word-break: break-all;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #clips{
        text-align: center;
    }

}

@media (min-width:768px) and (max-width:1070px){
    #introduccion{
        background-position: center, center;
        background-size:contain;
    }

    #introduccion>h2{
        width: 100%;
    }

    #introduccion>article{
        width: 100%;
        background-color: #f9f9f9;
        opacity: 0.8;
    }

    .character-article{
        max-height: none;
    }

    .character-description{
        height: inherit;
    }

    .character-image{
        width: 50%;
    }
}


@media (min-width:768px) and (max-width:1160px){
    ul>li>a{
        font-size: 0.6rem;
    }

    #logoCommunity{
        width: 120px;
    }

    h1{
        font-size: 1.8rem;
    }

    #inicio{
        margin-top: 1vh;
        height: 68vh;
    }
    .hamburger-menu{
        display: none;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .episode-article{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
    
    .episode-description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .episode-image{
        width: 100%;
    }
}


@media (min-width:1161px){
    ul>li>a{
        font-size: 1rem;
    }
    #logoCommunity{
        width: 175px;
    }
    #inicio{
        margin-top: 1vh;
        height: 78vh;
    }

    h1{
        font-size: 2.3rem;
    }
    .hamburger-menu{
        display: none;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width:2560px){
    #inicio{
        margin-top: 1vh;
        height: 55vh;
    }
}
